@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Martel:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1e1e1e; 
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: #FDFCFF;
}

button {
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #6725f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

button, a  {
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}